.fa-google {
  color: red;
  font-size: 25px

}
.c1{

  margin-top: 6px;
  background-color:#FDFEFE;
  margin-bottom: 20px;


}
.c2{
    font-family: 'Mandali', sans-serif;
      margin-top: 8px;
      font-size: 15px;
      color: black;
      background-color: #FFFF;
      padding-left: 20px;
      border-radius: 14px

}
